:root {
  /* Custom variables */

  /* Background colors */
  /* --main-navbar-bg-color: #0f3b68; */
  /* --main-navbar-bg-color: #0f2a68; */
  --main-navbar-bg-color: #162b4e;

  /* content spacing */
  --default-content-spacing: 0 4vw;

  /* FFF */
  --main-navbar-link-color: #ffffff;
  --main-navbar-link-color-hover: #b2b2be;

  /* debugging boxes */
  --debugging-boxes-border-style: solid;
  --debugging-boxes-border-color: black;
  --debugging-boxes-border-width: 1px;

  --code-font: "Jetbrains Mono";
}

/* 100 - Thin */
@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/jetbrains-mono/JetBrainsMono-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/jetbrains-mono/JetBrainsMono-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

/* 200 - Extra Light */
@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/jetbrains-mono/JetBrainsMono-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/jetbrains-mono/JetBrainsMono-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

/* 300 - Light */
@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/jetbrains-mono/JetBrainsMono-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/jetbrains-mono/JetBrainsMono-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

/* 400 - Regular */
@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/jetbrains-mono/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/jetbrains-mono/JetBrainsMono-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

/* 500 - Medium */
@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/jetbrains-mono/JetBrainsMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/jetbrains-mono/JetBrainsMono-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

/* 600 - Semi Bold */
@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/jetbrains-mono/JetBrainsMono-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/jetbrains-mono/JetBrainsMono-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

/* 700 - Bold */
@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/jetbrains-mono/JetBrainsMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/jetbrains-mono/JetBrainsMono-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

/* 800 - Extra Bold */
@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/jetbrains-mono/JetBrainsMono-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/jetbrains-mono/JetBrainsMono-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

/* debugging boxes */
.debug_boxes {
  border-style: var(--debugging-boxes-border-style);
  border-color: var(--debugging-boxes-border-color);
  border-width: var(--debugging-boxes-border-width);
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: "Jetbrains Mono", "Courier New", Courier, monospace;
}
